/* common shared styles */
body {
    font-family: 'Acme', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Tilt Warp', cursive;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary{
    border-radius: 12px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 18px;
    
}
.section-title{
color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}

/* nav related styles */
nav {
    display: flex;
    margin: 0px 200px;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 60px;
    font-weight: 800;
    
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {


    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-container{
    max-width: 500px;
    margin-left: 45px;
    
}

.banner .banner-img {
    width: 500px;
    margin-right: 100px;
}
.banner-hi{
    font-size: 35px;
    font-weight: 30;    
    color: #474747 ;
    margin-bottom: 0px;
    
}
.banner-name{
    font-size: 85px;
    font-weight: 700;
    margin-top:5px ;
    margin-bottom: 0px;
}
.para{
    margin-top:20px;
}
#btn-contact{
    margin-left: 20px;
}
/* main section styles */

/* about section syle */
.about{
    padding: 130px;
    background-color:#FFF8F3;
    margin: 130px 0px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    color: #757575;
    text-align: center;
    font-size: 20px; 
}
.info-description{
    color: black;
}
/* what i do style from here */
#what-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    
    display: flex;
    justify-content:space-between;
}
.skill-info{
    
    width:267px;
    height: 370px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    padding:30px
}
.skill-description{
    padding: 0px 30px;
    color: #757575;
}
#skill-img{
    padding: 20px 0px 0px 30px;
}
.left-side{
    width: 500px;
}
.right-side{
    width: 500px;
}
.my-resume-container{
     display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.summay-section-title{
    text-align: center;
    font-size: 35px;
}
.resume-summary-section{
    padding: 100px 0px;
    
}
.download-cv{
    text-align: center;
}
.my-resume-container>h3, p{
    color: #757575;
}
.left-side .right-side, h2{
    margin-bottom: 50px;
}